<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @topic.employee %>
</p>

<p>
  <strong>Request:</strong>
  <%= @topic.request %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
