<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Tytuł zgłoszenia" %>
    <%= form.text_field :name, id: :request_name %>
  </div>

  <div class="field">
    <%= form.label :"Imię klienta" %>
    <%= form.text_field :"client_first", id: :request_client_first %>
  </div>

  <div class="field">
    <%= form.label :"Nazwisko klienta" %>
    <%= form.text_field :client_last, id: :request_client_last %>
  </div>

  <div class="field">
    <%= form.label :"Koszt usługi" %>
    <%= form.text_field :cost, id: :request_cost %>
  </div>


  <div class="field">
    <%= form.label :"Opis" %>
    <%= form.text_field :description, id: :request_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :request_status %>
  </div>

  <div class="field">
    <%= form.label :"Adres e-mail klienta" %>
    <%= form.text_field :client_mail, id: :request_client_mail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
