<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Client first:</strong>
  <%= @request.client_first %>
</p>

<p>
  <strong>Client last:</strong>
  <%= @request.client_last %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @request.cost %>
</p>

<p>
  <strong>Costvat:</strong>
  <%= @request.costVAT %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Number employee:</strong>
  <%= @request.number_employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Client mail:</strong>
  <%= @request.client_mail %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
