<h1>Strona główna</h1>


<% if logged_in? %>
  <h2>Moje zgłoszenia</h2>
  <% current_employee.requests.each do |request| %>
    <h3><%= request.name %></h3>
    <% request.topics.each do |topic| %>
      <h4><%= topic.title %> by <%= topic.employee.nickname %></h4>
      <% topic.posts.each do |post| %>
        <p>
          <%= post.body %>
        </p>
        <h6>by <%= post.employee.nickname %></h6>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  Nie jesteś zalogowany.
<% end %>
